.container {
    &.narrow {
        @include container-hook('container.narrow');
    }

    &.fluid {
        @include container-hook('container.fluid');
    }

    &.page {
        max-width: 1200px;
        width: 90%;
        $margin: auto;
        margin: {
            right: $margin;
            left: $margin;
        };
    }
}