.field {
    @include field-hook('field');

    &-label {
        @include field-hook('field.label');
    }

    &-input {
        @include field-hook('field.input');
    }

    &-message {
        @include field-hook('field.message');
    }

    @at-root &--success & {
        &-input {
            @include field-hook('field.success.input');
        }

        &-message {
            @include field-hook('field.success.message');
        }
    }

    @at-root &--warning & {
        &-input {
            @include field-hook('field.warning.input');
        }

        &-message {
            @include field-hook('field.warning.message');
        }
    }

    @at-root &--error & {
        &-input {
            @include field-hook('field.error.input');
        }

        &-message {
            @include field-hook('field.error.message');
        }
    }
}