// Base
@import './base/normalize';


// Tools
@import './tools/map';
@import './tools/unit';
@import './tools/variant';


// Modules
@import './modules/font';
@import './modules/color';
@import './modules/layer';
@import './modules/media';
@import './modules/font-face';


// Themes
@import './themes/flat';


// Components
@import './components/field';
@import './components/image';
@import './components/button';
@import './components/container';
@import './components/menu';


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html {
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;

    * {
        &,
        &::before,
        &::after {
            box-sizing: inherit;
        }
    }
}