@mixin field {
    font-size: .9rem;
    margin: 1rem 0;
}

@mixin field-label {
    margin: .5rem 0;
    display: block;
}

@mixin field-input {
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle;
    padding: .75rem;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: color-shade(color('base''white'), 2);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: block;

    &:focus {
        outline: none;
        box-shadow: 0 0 1px 0 color-shade(color('theme''primary'),
                1);
    }
}


@mixin field-message {
    display: block;
    font-size: .75rem;
    margin: .5rem 0;
}

@mixin field-info {
    display: block;
    font-size: .75rem;
    margin: .6rem 0;
    color: color('base' 'gray')
}

@mixin field-input-skin($color) {
    background-color: color-tint($color, 8);
    color: $color;
    
    &:disabled {
        cursor: not-allowed;
        background-color: color-tint($color, 9);
        color: color-tint($color, 1);
    }
}

@mixin field-message-skin($color) {
    color: $color;
}


@mixin field-skin($name, $color) {
    @include variant('field.#{$name}.input') {
        @include field-input-skin($color);
    }
    
    @include variant('field.#{$name}.message') {
        @include field-message-skin($color);
    }
}


@mixin field-hook($name) {
    @include variant-hook($name) {
        @include variant('field') {
            @include field;
        }

        @include variant('field.label') {
            @include field-label;
        }

        @include variant('field.input') {
           @include field-input;
           @include field-input-skin(#333);
           background-color: color('base' 'white');
        }

        @include variant('field.message') {
            @include field-message;
            @include field-message-skin(#333);
        }

        @include variant('field.info') {
            @include field-info;
        }

        @include field-skin('success', color('theme' 'primary'));
        @include field-skin('warning', orange);
        @include field-skin('error', color('theme' 'secondary'));
    }
}