@mixin field-hook($name) {
    @include variant-hook($name) {
        @include variant('field') {
            font-size: .9rem;
            & + & {
                margin-top: 1rem;
            }
        }
        
        @include variant('field.label') {
            margin-bottom: .75rem;
            display: block;
        }
        
        @include variant('field.input') {
            font-size: inherit;
            font-family: inherit;
            vertical-align: middle;
            padding: .75rem;
            border-radius: .25rem;
            border-width: 1px;
            border-style: solid;
            border-color: color-shade(color('base' 'white'), 1);
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            display: block;

            &:focus {
                outline: none;
                box-shadow: 0 0 1px 0 color-shade(
                    color('theme' 'primary'),
                    1
                );
            }
        }

        @include variant('field.message') {
            display: block;
            font-size: .75rem;
            margin-top: .75rem;
        }

        @include variant('field.success') {
            .field-message {
                color: green;
            }
            .field-input {
                border-color: green;
                background-color: color-tint(green, 9.5);
            }
        }

        @include variant('field.warning') {
            .field-message {
                color: orange;
            }
            .field-input {
                border-color: orange;
                background-color: color-tint(orange, 9.5);
            }
        }
        @include variant('field.error') {
            .field-message {
                color: red;
            }
            .field-input {
                border-color: red;
                background-color: color-tint(red, 9.5);
            }
        }
    }
}